
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./index.css" rel="stylesheet" type="text/css">
  <script src="./vue.js"></script>
  <script src="./index.js"></script>
  <script src="./http.js"></script>
  <title>Sohu Online Sandbox</title>
</head>
<body>


  <!-- item template -->
  <script type="text/x-template" id="item-template">
    <li>
      <div :class="{bold: isFolder}">
        <span v-if="isFolder" @click="toggle">{{model.name}}[{{open ? '-' : '+'}}]</span>
        <a v-else @click="download">{{model.name}}</a>
      </div>
      <ul v-show="open" v-if="isFolder">
        <item
          class="item"
          v-for="model in model.children"
          :model="model">
        </item>
        <!-- <li class="add" @click="addChild">+</li> -->
      </ul>
    </li>
  </script>



  <ul id="device-info" class="device-info">
  <li v-for="item in items">
    {{ item }}
  </li>
  </ul>

  <!-- the sandbox root element -->
  <ul id="sandbox">
    <item
      class="item"
      :model="treeData">
    </item>
  </ul>

<script type="text/javascript">

new Vue({
  el: '#device-info',
  data: {
    items: []
  },
  created: function(){
      var _self = this;
      httpGet('/appinfo.json',function(data){
        var items = JSON.parse(data);
        var arr = [];
        for (idx in items) {
            var dic = items[idx];
            for (key in dic) {
              arr.push(key + " : " + dic[key]);
            }
        }
        _self.items = arr;
      },function(err){
        alert('获取设备信息失败:' + err)
      },function() {

      })
    }
})

// boot up the demo
new Vue({
  el: '#sandbox',
  data: {
    treeData: {}
  },
  created: function(){
      var _self = this
      httpGet('/sandbox.json',function(data){
        _self.treeData = JSON.parse(data);//http://blog.csdn.net/wangxiaohu__/article/details/7254598/
      },function(err){
        alert('sandbox-err:' + err)
      },function() {

      })
    }
})

</script>

</body>
</html>
