
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="./index.css" rel="stylesheet" type="text/css">
  <script src="./vue.js"></script>
  <script src="./index.js"></script>
  <script src="./http.js"></script>
</head>
<body>


  <!-- item template -->
  <script type="text/x-template" id="item-template">
    <li>
      <div :class="{bold: isFolder}">
        <span v-if="isFolder" @click="toggle">{{model.name}}[{{open ? '-' : '+'}}]</span>
        <a v-else @click="download">{{model.name}}</a>
      </div>
      <ul v-show="open" v-if="isFolder">
        <item
          class="item"
          v-for="model in model.children"
          :model="model">
        </item>
        <!-- <li class="add" @click="addChild">+</li> -->
      </ul>
    </li>
  </script>

  <p>(You can double click on an item to turn it into a folder.)</p>

  <!-- the demo root element -->
  <ul id="demo">
    <item
      class="item"
      :model="treeData">
    </item>
  </ul>

<script type="text/javascript">
// boot up the demo
var demo = new Vue({
  el: '#demo',
  data: {
    treeData: {}
  },
  created: function(){
      var _self = this
      var url = 'http://localhost:9999/sandbox.json';
      httpGet(url,function(data){
        _self.treeData = JSON.parse(data);//http://blog.csdn.net/wangxiaohu__/article/details/7254598/
      },function(err){
        alert('sandbox-err:' + err)
      },function() {

      })
    }

})

</script>



</body>
</html>
