.item {
  cursor: pointer;
}

.folder {
  font-weight: bold;
  background-color: #d2d2d2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
}

.folder span {
    color: #268bd2;
    overflow:hidden;
    word-wrap: break-word;
}

.notfolder{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2rem;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}

.notfolder a{
    /*可以折行*/
    word-wrap: break-word;
}
/*ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}*/

.device-info{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li ul{
  list-style: none;
  padding-left: 2rem;
}
